a {
    color: #674ea7;
}

nav {
    border-bottom: solid 2px #c27ba0;
}

nav img{
    height: 50px;
    width: 100px;
}

nav div {
    display: inline-block;
    float: right;
}

h2 {
    display: inline-block;
    margin-right: 25px;
}

footer {
    margin-top: 80px;
    border-top: solid 2px #2b78e4;
    padding: 1em;
}

footer small {
    color: #674ea7;
    float: right;
}

