a {
    font-size: 24px;
    color: #674ea7;
    text-decoration:none;
}

nav {
    border-bottom: solid 2px #c27ba0;
}

nav img {
    height: 50px;
    width: 100px;
}

nav a {
    float: right;
    margin: 20px;
}

#content {
    max-width: 920px;
    margin: 0 auto;
}

#home-form,#register_form{
    width: 300px;
    height: 400px;
    border: solid 2px #674ea7;
    margin: 50px auto;
    text-align: center;
}

#home-form {
    line-height: 380px;
}

#register_form{
    line-height: 80px;
}

#event-details #event-description {
    max-width: 600px;
    float: right;
}

.time-address-owner {
    width: 260px;
    min-height: 380px;
    display: inline-table;
    border: solid 2px #674ea7;
    padding: 10px 20px;
    margin-bottom: 50px;
}

.time {
    border-color: #2b78e4;
}

.people {
    border-color: #c27ba0;
}

#end-event {
    display: block;
    margin: 250px auto 0 auto;
}

footer {
    border-top: solid 2px #2b78e4;
    padding: 1em;
}

footer small {
    color: #674ea7;
    float: right;
}

