a {
    font-size: 24px;
    color: #674ea7;
    text-decoration:none;
}

nav {
    border-bottom: solid 2px #c27ba0;
}

nav img {
    height: 50px;
    width: 100px;
}

nav a {
    float: right;
    margin: 20px;
}

#home-form .time-address-owner {
    width: 300px;
    height: 400px;
    display: inline-block;
    border: solid 2px #674ea7;
}

#time {
    border-color: #2b78e4;
}

#address {
    border-color: #c27ba0;
}

.home-bar {
    height: 200px;
    text-align: center;
}

footer {
    border-top: solid 2px #2b78e4;
    padding: 1em;
}

footer small {
    color: #674ea7;
    float: right;
}

